.my-table-cell-indNumber {
  width: 20%;
}
.my-table-cell-shifr {
  width: 25%;
}
.my-table-cell-data {
  width: 8%;
}
.my-table-cell-exclude {
  width: 5%;
  text-align: center!important;
}
.my-table-cell-paz {
  width: 23%;
  text-align: center!important;
}
.my-table-cell-fix-paz {
  font-size: 10px;
}
